<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.DB2Dialect</property>
<!--    <property name="hibernate.connection.driver_class">com.ibm.db2.jcc.DB2Driver</property>
    <property name="hibernate.connection.url">jdbc:db2://10.186.31.13:56000/TRACKING</property>
    <property name="hibernate.connection.username">USERTRCK</property>
    <property name="hibernate.connection.password">track2014</property>-->
    <property name="current_session_context_class">thread</property>
    <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
    <property name="hibernate.connection.datasource">java:comp/env/jndi/tracking</property>
    <property name="show_sql">true</property>
    <mapping resource="cl/movistar/tracking/hibernate/altaBaja/EventosTracking.hbm.xml"/>
    <mapping resource="cl/movistar/tracking/hibernate/altaBaja/EventoSistema.hbm.xml"/>
    <mapping resource="cl/movistar/tracking/hibernate/altaBaja/AccionSistema.hbm.xml"/>
    <mapping resource="cl/movistar/tracking/hibernate/altaBaja/Usuarios.hbm.xml"/>
    <mapping resource="cl/movistar/tracking/hibernate/altaBaja/Canal.hbm.xml"/>
    <mapping resource="cl/movistar/tracking/hibernate/altaBaja/EventoNegocio.hbm.xml"/>
    <mapping resource="cl/movistar/tracking/hibernate/altaBaja/Estado.hbm.xml"/>
    <mapping resource="cl/movistar/tracking/hibernate/altaBaja/CambioUmbral.hbm.xml"/>
    <mapping resource="cl/movistar/tracking/hibernate/altaBaja/VentaBolsa.hbm.xml"/>
    <mapping resource="cl/movistar/tracking/hibernate/altaBaja/AccionNegocio.hbm.xml"/>
    <mapping resource="cl/movistar/tracking/hibernate/altaBaja/MovimientosTracking.hbm.xml"/>
    <mapping resource="cl/movistar/tracking/hibernate/altaBaja/BitacoraRecurrencia.hbm.xml"/>
    
  </session-factory>
</hibernate-configuration>
